"use strict";

const QueueJob = use("FetchSky/Src/Queue/Job");

class {{Job}} extends QueueJob {
  /**
   * Execute the job.
   *
   * @param {*} data
   */
  async handle(data) {
    
  }
}

module.exports = {{Job}};